body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

.download-link {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

video, img {
    display: block;
    margin: auto;
}

.tag-line {
    color: gray;
    text-align: center;
    font-size: 21px;
}

.copyright {
    color: gray;
    text-align: right;
}